---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="关于我们"
	description="我们是乐子快报的创作工作室—极乐堂"
	pubDate={new Date('2026年 2月 4日')}
>
	<p>
		我们“新·乐子快报”只是收集一些有趣的事情，我们会对素材中的各种隐私进行保护，并且我们不倡导也不支持针对和网络霸凌行为
	</p>

	<p>
		请支持正版「極樂堂」，官方交流群在865267177。
	</p>
</Layout>
